.app-container {
  width: 100%;
  height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0b7dda;
}

ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

li {
  background: #3d3b3b;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.delete-btn {
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}
